{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


    <div class="container w-50 mt-5">
        <form method="post">
            <h1 class="h3 mb-3 font-weight-normal text-center">Veuillez vous connecter</h1>
            <label class="mb-2" for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control border border-primary"
                   autocomplete="email" required autofocus>
            <label class="mt-3 mb-2" for="inputPassword">Mot de passe <span class="text-info"><a href="{{ path('app_forgot_password_request') }}">( mot de passe oublié ? )</a></span></label>
            <input type="password" name="password" id="inputPassword" class="form-control"
                   autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <div class="checkbox mb-3 mt-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>
            </div>

            <div class="d-flex justify-content-end">
            <button class="btn btn-primary " type="submit">
                Connexion
            </button>
            </div>
        </form>
    </div>
{% endblock %}
