{% extends 'base.html.twig' %}

{% block title %}Hello ActiveEventController!{% endblock %}

{% block body %}
<form action="" method="post">
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Activer la Sortie</button>
    </div>

</form>
{% endblock %}
