{% extends 'base.html.twig' %}

{% block title %}Reinitialiser votre mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
<div class="container w-75 mt-5">
    <h1 class="text-center mt-5">Reinitialiser votre mot de passe</h1>

   <div class="w-50 mx-auto">
       {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div class="text-center">
            <small>
                Entrez votre adresse mail et nous vous enverrons un lien pour reinitialiser votre mot de passe.
            </small>
        </div>
<div class="d-flex justify-content-end">
        <button class="btn btn-primary">Valider</button>
</div>
    {{ form_end(requestForm) }}
   </div>
</div>
{% endblock %}
