
{% block main %}
    {{ encore_entry_link_tags('app') }}

    {{ encore_entry_script_tags('app') }}
    <div class="row">
        <div class="col-12">
            {{ render_chart(chart) }}
        </div>
    </div>

{% endblock %}






