



{% block body %}
    <div class="">
    <h1 class="text-center">Emplacement du lieu </h1>
    </div>
    <div id="map" class="map">
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('map') }}
{% endblock %}
