<div class="card-body mt-5 bg-secondary bottom">
    <h5 class="card-title text-center">Projet ENI Sortir</h5>
    <p class="card-text text-center mt-4">@2022 / <a href="https://nicolas-godin.fr/" target="_blank">Nicolas Godin</a>
        -<a href="https://www.linkedin.com/in/jordan-azran/" target="_blank">Jordan Azran</a>  -<a target="_blank" href=""></a> Manarii Brémond -
        <a target="_blank" href="https://vichit.fr/#/">Christophe Vichit</a> </p>

</div>